

.smallButton {
    display: none;
}
@media screen and (min-width:0px) and (max-width:991px) {
     
    
    .smallview {
        justify-content: space-around;
        align-items: center;
        height: 75vh;
        display: flex;


    }


    .smallButton {
        display: block !important;

    }
    .smallButton:hover 
    {
        cursor: pointer;
    }
    .linkStyle 
    {
        font-size: 12px;
    }
    .aside 
    {
        background-color: rgb(255, 255, 255);
        position: fixed;
        width: 75%;
        top: 0%;
        left: -75%;
        z-index: 5555555555555555555555555555555555555;
        bottom: 0%;
        
    }
   
  
}

a:hover
{
    color: #0a58ca !important;
}



.open 
{
    left: 0%;
}
.close 
{
    left: -75%;
}