


.smallButton {
    display: none;
}
@media screen and (min-width:0px) and (max-width:991px) {
     
    
    .smallview {
        justify-content: space-around;
        align-items: center;
        height: 50vh;



    }


    .smallButton {
        display: block !important;

    }
    .linkStyle 
    {
        font-size: 12px;
    }

}

a:hover
{
    color: #0a58ca !important;
}